{% extends "base.html" %}
{% block content %}

<h2>פרופיל: {{ child.name }}</h2>

<p><b>הורה:</b> {{ child.parent_name }}</p>
<p><b>כתובת:</b> {{ child.address }}</p>
<p><b>טלפון:</b> {{ child.phone }}</p>
<p><b>תחביב:</b> {{ child.hobby }}</p>

<a class="btn" href="/children/edit/{{ child.id }}">עריכת פרטי ילד</a>
<br><br>
<a class="btn" href="/visits/add?child_id={{ child.id }}">הוספת שיבוץ</a>

<h3>שיבוצים</h3>

<table>
    <tr>
        <th>תאריך</th>
        <th>שעה</th>
        <th>עריכה</th>
    </tr>

    {% for v in visits %}
    <tr>
        <td>{{ v.date }}</td>
        <td>{{ v.start_time }} - {{ v.end_time }}</td>
        <td><a class="btn" href="/visits/edit/{{ v.id }}">עריכה</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
